body{
        margin: 0;
        padding:0;
        background-image: url(images/img.jpg);
        background-attachment: fixed;
        background-size: cover;
}

.top-container{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 100px;  
}

.header-container{
        width: 250px;
        border: 2px solid whitesmoke;
        background-color: black;
        color:whitesmoke;
        border-radius: 5px;
}

h3{
        margin-left: 10px;
}

.quote-container{
        margin-top: 25px;
        background-color: white;
        height: 450px;
        width:550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 15px;
        padding: 50px 40px;
}

.text-area{
        font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.5rem;
}

.person{
        font-size: 1.6rem;
        color:red;
}

#quoteBtn{
        background-color: black;
        color: white;
        border-radius: 5px;
        width: 100px;
        height:30px;
}